/* Start Nav Bar Section */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

#nav-bar .navbar{
    background-image: linear-gradient(to right, #298121, #194c1b);
    padding: 0 !important;
}

#nav-bar form {
    height: auto;
}

.navbar-brand img {
    height: 40px;
    padding-left: 2%;
    padding-top: 4%;
}

.offcanvas-title img {
    height: 40px;
}

.navbar-nav {
    margin-left: auto;
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: rgb(0, 0, 0) !important;
    font-weight: 400;
}

.fa-bars {
    color: #fff !important;
    font-size: 30px;
}

.navbar-toggler {
    outline: none !important;
}

@media (min-width: 991px) {
    #nav-bar .nav-item .nav-link {
        color: white !important;
        text-transform: uppercase;
        font-weight: 600;
    }
    #nav-bar .btn-outline-success {
        background-color: #fff;
        color: #0b410e;
        transition: 0.3s;
    }
    #nav-bar .btn-outline-success:hover {
        transform: scale(110%);
    }
}


/* End Nav Bar Section */
