* {
    margin: 0;
    padding: 0;
}

body {
    font-family: sans-serif;
}

/* Start Nav Bar Section */

#nav-bar {
    position: sticky;
    top: 0;
    z-index: 10;
}

.navbar {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    padding: 0 !important;
}

.navbar-brand img {
    height: 40px;
    padding-left: 2%;
}

.navbar-nav {
    margin-left: auto;
    
}

.navbar-nav li {
    padding: 0 10px;
}

.navbar-nav li a {
    color: #fff !important;
    font-weight: 400;
}

.fa-bars {
    color: #fff !important;
    font-size: 30px;
}

.navbar-toggler {
    outline: none !important;
}

/* End Nav Bar Section */

/* Start Banner Section */

#banner {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
    padding-top: 5%;
}

.promo-title {
    font-size: 40px;
    font-weight: 600;
    margin-top: 10%;
}

.play-btn {
    height: 45px;
    margin-right: 20px;
}

#banner a {
    color: #fff;
    text-decoration: none;
}

.bottom-img {
    width: 100%;
}

#banner .btn-primary {
    background-color: transparent;
    border: 1px solid;
    border-color: linear-gradient(to right, #a517ba, #5f1782);
}

/* End Banner Section */

/* Start Services Section */

#services {
    padding: 80px 0;
}

.service-img {
    width: 100px;
    margin-top: 20px;    
}

.services {
    padding: 20px;
}

.services h4 {
    padding: 5px;
    margin-top: 25px;
    text-transform: uppercase;
}

#services .btn-primary {
    box-sizing: none;
    padding: 8px 25px;
    border: none;
    border-radius: 20px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

/* End Services Section */

/* Start About Us Section*/
#about-us {
    background: #f8f9fa;
    padding-bottom: 50px;
    padding-top: 50px;
}

.about-title {
    font-size: 5vh;
    font-weight: 600;
    margin-top: 6%;
}

#about-us ul {
    margin-left: 20px;
}

#about-us ul li {
    margin: 10px 0;
}

/* End About Us Section */

/* Start Testimonials Section */

#testimonials {
    margin: 100px 0;
}

.testimonials {
    border-left: 4px solid #7b1798;
    margin-top: 50px;
    margin-bottom: 50px;
}

.testimonials img {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 0 10px;
}

.user-details {
    display: inline-block;
    size: 12px;
}

/* End Testimonials Section */

/* Start Social Media Section */

#social-media {
    background-color: #f8f9fa;
    padding: 100px 0;
}

#social-media p {
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 30px;
}

.social-icons img {
    width: 60px;
    transform: 0.6s;
}

.social-icons a:hover img {
    transform: translateY(-10px);
}

/* End Social Media Section */

/* Start Footer Section */

#footer {
    background-image: linear-gradient(to right, #a517ba, #5f1782);
    color: #fff;
}

.footer-img {
    width: 100%;
}

.footer-box {
    padding: 20px;
}

.footer-box img {
    width: 120px;
    margin-bottom: 20px;
}

.footer-box .fa {
    margin-right: 8px;
    font-size: 25px;
    height: 40px;
    width: 40px;
    text-align: center;
    padding-top: 7px;
    border-radius: 2px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

.footer-box .form-control {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 25px;
    max-width: 250px;
}

.footer-box .btn-primary {
    box-shadow: none !important;
    border: none;
    border-radius: 0;
    margin-top: 30px;
    background-image: linear-gradient(to right, #a517ba, #5f1782);
}

#footer hr {
    background-color: #fff;
}

.copyright {
    margin-bottom: 0;
    padding: 20px;
    text-align: center;
}

/* End Footer Section */
